@model Webbhtp.tb_Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sửa liên hệ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item">Quản lý liên hệ</li>
                    <li class="breadcrumb-item active">Sửa liên hệ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-header">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên</label>
                        @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên", @required = "@required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Số điện thoại</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Lời nhắn</label>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control text-box single-line" })
                        <!-- /.card-body -->
                    </div>
                    <div class="form-group">
                        @*<input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Trạng thái</label>*@
                        @Html.EditorFor(model => model.IsRead)
                        <label class="form-check-label" for="exampleCheck1">Trạng thái</label>
                        @Html.ValidationMessageFor(model => model.IsRead, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Ngày liên hệ</label>
                        @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ngày liên hệ" } })
                        @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Sửa xong</button>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <div>
            <p class="btn btn-secondary">
                @Html.ActionLink("Trở lại", "Index")
            </p>
        </div>
    </section>

}


