
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var News = (List<Webbhtp.tb_News>)ViewBag.News;

}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="~/">Foods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>


        @{Html.RenderAction("TopMenu", "Home");}


    </div>
</nav>
<div class="hero-wrap hero-bread" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Home</a></span> <span>News</span></p>
                <h1 class="mb-0 bread">News</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div class="row">
                    @foreach (var item in News) { 
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="@item.Link" class="block-20" style="background-image: url(@item.Image);">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a href="#">@item.CreatedDate</a></div>
                                    <div><a href="#">@item.CreatedBy</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a href="#">@item.Description</a></h3>
                                <p>@item.Detail</p>
                                <p><a href="@item.Link" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                   }
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="https://vietnammoi.vn/gia-heo-hoi-hom-nay-812-giam-nhe-o-khu-vuc-phia-nam-202212716590105.htm" class="block-20" style="background-image: url('./Content/images/news_4.jpeg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a href="#">08/12/2022</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a href="#">Giá heo hơi hôm nay 8/12: Giảm nhẹ ở khu vực phía Nam</a></h3>
                                <p>Giá heo hơi hôm nay (8/12) ghi nhận giảm 1.000 đồng/kg ở một vài địa phương miền Nam. Phú Lương (Thái Nguyên): Sản lượng thịt hơi xuất chuồng vượt gần 29% kế hoạch.</p>
                                <p><a href="https://vietnammoi.vn/gia-heo-hoi-hom-nay-812-giam-nhe-o-khu-vuc-phia-nam-202212716590105.htm" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="https://vietnammoi.vn/gia-ca-thi-truong-hom-nay-7122022-bach-hoa-xanh-winmart-coop-mart-len-ke-thit-bo-voi-gia-tot-202212765827727.htm" class="block-20" style="background-image: url('./Content/images/news_5.jpg');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a href="#">07/12/2022</a></div>
                                    <div><a href="#">Admin</a></div>
                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                </div>
                                <h3 class="heading"><a href="#">Giá cả thị trường hôm nay 7/12/2022: Bách Hóa Xanh, WinMart, Co.op Mart lên kệ thịt bò với giá tốt</a></h3>
                                <p>Giá cả thị trường hôm nay (7/12) ghi nhận, các siêu thị đều bán thịt bò tươi sống các loại với giá duy trì không đổi. Trong khi đó, một số mặt hàng hoá phẩm, dầu ăn, gia vị được giảm giá đến...</p>
                                <p><a href="https://vietnammoi.vn/gia-ca-thi-truong-hom-nay-7122022-bach-hoa-xanh-winmart-coop-mart-len-ke-thit-bo-voi-gia-tot-202212765827727.htm" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="~/Vegetables">Vegetables <span>(12)</span></a></li>
                        <li><a href="~/Fruits">Fruits <span>(22)</span></a></li>
                        <li><a href="~/Juice">Fresh meat <span>(37)</span></a></li>
                        <li><a href="~/Dries">Organic food <span>(42)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Recent News</h3>
                    @foreach (var item in News)
                    {
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(@item.Image);"></a>
                        <div class="text">
                            <h3 class="heading-1"><a href="@item.Link">@item.Description</a></h3>
                            <div class="meta">
                                <div><a href="@item.Link"><span class="icon-calendar"></span> @item.CreatedDate</a></div>
                                <div><a href="@item.Link"><span class="icon-person"></span> @item.CreatedBy</a></div>
                                <div><a href="@item.Link"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    }
                </div>            

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">fruits</a>
                        <a href="#" class="tag-cloud-link">tomatoe</a>
                        <a href="#" class="tag-cloud-link">mango</a>
                        <a href="#" class="tag-cloud-link">apple</a>
                        <a href="#" class="tag-cloud-link">carrots</a>
                        <a href="#" class="tag-cloud-link">orange</a>
                        <a href="#" class="tag-cloud-link">pepper</a>
                        <a href="#" class="tag-cloud-link">eggplant</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

        </div>
    </div>
</section> <!-- .section -->
