@model IEnumerable<Webbhtp.tb_Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý bình luận</h2>


<div class="card">

    <!-- /.card-header -->
    <div class="card-body">
        <h3 class="badge bg-success">@Html.ActionLink("Thêm bình luận mới", "Create")</h3>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Nội dung</th>
                    <th>Ngày bình luận</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr id="tr_@item.CmtId">
                        <td>@Html.DisplayFor(modelItem => item.CmtId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Content)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>

                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.CmtId }, new { @class = "badge bg-warning" }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.MenuId }) |*@
                            <a href="@Url.Action("Delete","Product", new {id = item.CmtId})" onclick="return confirm('Bạn có chắc chắn muốn xoá?');" data-id="@item.CmtId" class="badge bg-danger">Xóa</a>
                            @*@Html.ActionLink("Xóa", "Delete", new { id = item.MenuId })*@
                        </td>
                    </tr>
                    i++;
                }
            </tbody>

        </table>
    </div>
        <!-- /.card-body -->
    </div>
