@model PagedList.IPagedList<Webbhtp.tb_Blog>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="~/">Foods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>


        @{Html.RenderAction("TopMenu", "Home");}


    </div>
</nav>

<div class="hero-wrap hero-bread" style="background-image: url('../../Content/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-0 bread">Blog</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12 d-flex ftco-animate fadeInUp ftco-animated">
                            <div class="blog-entry align-self-stretch d-md-flex">
                                <a href="blog-single.html" class="block-20" style="background-image: url('@item.Image');">
                                </a>
                                <div class="text d-block pl-md-4">
                                    <div class="meta mb-3">
                                        <div><a href="#">@item.CreatedDate</a></div>
                                        <div><a href="#">@item.CreatedBy</a></div>
                                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                                    </div>
                                    <h3 class="heading"><a href="#">@item.Description</a></h3>
                                    <p>@item.Detail</p>
                                    <p><a href="@Url.Action("Blogs_detail", "Blog", new {idbv = item.BlogId} )" class="btn btn-primary py-2 px-3">Read more</a></p>
                                </div>
                            </div>
                        </div>

                    }
                </div>

        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li>
                            @Html.PagedListPager(Model, pageNumber => Url.Action("Index",
                                            new { pageNumber }))
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>